In [1]:
s1=['a','b']

In [2]:
s2=['c','d']

In [7]:
s =s1[0]+' '+s2[0]
s

'a c'

In [9]:
s = [True,True,True]
s1 = s*3
s1

[True, True, True, True, True, True, True, True, True]

In [10]:
s.append(True)

In [11]:
s

[True, True, True, True]

In [12]:
s1= list(s)
s1

[True, True, True, True]

In [13]:
type(s1)

list

Add one colume to df. The value in this colume is the division of two columns in the df

In [18]:
import pandas as pd
import numpy as np
data = pd.DataFrame([[1,2,3],[2,3,4],[3,4,5],[2,4,6]],index=[1,2,3,4],columns=list('ABC'))

In [19]:
data

   A  B  C
1  1  2  3
2  2  3  4
3  3  4  5
4  2  4  6

In [21]:
result = data.groupby(['A']).sum().reset_index()
result

   A  B   C
0  1  2   3
1  2  7  10
2  3  4   5

In [1]:
import numpy as np

In [2]:
np.zeros(5,1)

TypeError: data type not understood

In [3]:
?np.zeros

In [4]:
?np.random.randn

In [5]:
?math.log

Object `math.log` not found.

In [6]:
?log

Object `log` not found.

In [7]:
?np.log

In [8]:
np.sum([1,2])

3

In [10]:
a = np.sum([[1],[2]])

In [11]:
a

3

In [12]:
a.shape

()

In [14]:
?np.sum